	html, body {
				text-align: center;
                font-family: 'Josefin Sans', sans-serif;
              
				color:white;
        margin:0;
				overflow-x:hidden;
       
			}
			text, h3, h2 {
                font-family: 'Josefin Sans', sans-serif;
				color:white;
			}
            .btn { 
               margin: 5;
            }
            #observablehq-svg-a1463b06 {
                box-shadow: rgba(64, 12, 119, 0.16) 0px 1px 4px;
            }
            .controls {
             
              margin-left: 2%;
              margin-right: 2%;
              position: relative;
            }
            .svg {
            
               
                height:40%;
                width:100%;

            }
            h1 {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 30px;
                color:white;
                z-index: 10;
                

            }
		#card_whisper {
			margin-right: 2%;
			margin-left: 70%;
      margin-top: 5%;
      margin-bottom: 55%;
			z-index:90;
			position:absolute;
    }
            #iframe {
              margin-top:160px;
            
              position:relative;
              width:80%;
              height:100vh;
              z-index:-39;
            }
            #logo {
              margin-left:30%;
            }
    
            .container {
              width: 70%;
              height: 40%;
              margin-top:0%;
              margin-bottom: 75%;
              margin-left: 2%;
              z-index:-30;
              position: absolute;
          
            }
            .footer {
              position:absolute;
              z-index:10;
              margin-bottom:0px;
              margin-top:80%;
            }
            .mockup-code {
                width: 30%;
                float:right;
            }
         #main {
		 width:100%;
		 height:80vh;
		margin:0;
		
	 }
		
            .text-xl {
              padding:12px;
              padding-right: 35px;
              z-index:10;
            }
            .mockup-code  {
              padding:20px;
              z-index:10;
            }
            .p5Canvas {
              position:absolute;
		    margin-top:0px;
		    width:100%;
		    height:100vh;
              z-index:0;
            }
          
		.row {
  display: flex;
  justify-content: flex-end;
}

.item {
  margin-right: 10px;
}
#subhead {
  margin-left:0%;
  margin-right:76.5%;

}
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
#text_effect {
  font-family: 'Roboto Mono', monospace;
  background: #212121;
  height: 100%;
  z-index:0;

}
