	@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html, body {
				text-align: center;
                font-family: 'Josefin Sans', sans-serif;
              
				
        margin:0;
				overflow-x:hidden;
       
			}
			text, h3, h2 {
                font-family: 'Josefin Sans', sans-serif;
				
			}
            .btn { 
               margin: 5;
            }
    
      
    
            h1 {
                font-family: 'Josefin Sans', sans-serif;
          
                z-index: 10;
                

            }
		#card_whisper {
			margin-right: 2%;
			margin-left: 70%;
      margin-top: 10%;
      margin-bottom: 55%;
			z-index:90;
			position:absolute;
    }
            #iframe {
              margin-top:40px;
            
              position:relative;
              width:60%;
              height:50vh;
              z-index:-39;
            }
         
            .footer {
              position:absolute;
              z-index:10;
              margin-bottom:0px;
              margin-top:80%;
            }
            .container {
              width: 50%;
              height: 50%;
              margin-top:5%;
              margin-bottom: 75%;
              margin-left: 12%;
              margin-right: 2%;
              z-index:-30;
              position: absolute;
          
            }
            .navbar {
              z-index:100;
            }
            .dropdown {
              z-index:100;
            }
        

         #main {
		 width:100%;
		 height:80vh;
		margin:0;
		
	 }
		
            .text-xl {
              padding:12px;
              padding-right: 35px;
              z-index:10;
            }
            .mockup-code  {
              padding:20px;
              z-index:10;
            }
            .p5Canvas {
              position:absolute;
		    margin-top:30px;
		    width:80%;
		    height:80%;
              z-index:-30;
            }
          
		.row {
  display: flex;
  justify-content: flex-end;
}

.item {
  margin-right: 10px;
}
#subhead {
  margin-left:0%;
  margin-right:76.5%;

}

#text_effect {
  font-family: 'Roboto Mono', monospace;
  background: #212121;
  height: 100%;
  z-index:0;

}
