.hidden {
    display: none;
  }
  
  label {
   visibility: hidden;
    margin-bottom: 10px;

    display: block;
  }

  html, body {
    text-align: center;
            font-family: 'Josefin Sans', sans-serif;
          flex:flex;
    color:white;
    margin:0;
    overflow-x:hidden;
   
  }
  text, h3, h2 {
            font-family: 'Josefin Sans', sans-serif;
    color:white;
  }
        .btn { 
           margin: 5;
           z-index: 50;
        }
  
        .controls {
         
          margin-left: 2%;
          margin-right: 2%;
          position: relative;
        }
        .svg {
        
           
            height:40%;
            width:100%;

        }
        h1 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 30px;
            color:white;
            z-index: 10;
            

        }
  
        #iframe {
          margin:0px;
        
          position:absolute;
          width:100%;
          height:100vh;
          z-index:-9;
        }
        #logo {
          margin-left:30%;
        }

        #container {
          width: 100%;
          height: 100%;
          margin:0;
          z-index:0;
          position: absolute;
      
        }
        .footer {
          position:absolute;
          z-index:10;
          margin-bottom:0px;
          margin-top:80%;
        }
        .mockup-code {
            width: 30%;
            float:right;
        }
      #card_sd {
 
  z-index:20;
  position:relative;
}

     .dropdown {
 
  z-index:77;
 position:relative;
}
     .navbar {
 
  z-index:77;
  position:absolute;
}
     .nav {
 
  z-index:77;
  position:absolute;
}
#card_llama {
 
    z-index:20;
  position:relative;
}
  #card_gemma {
 
  z-index:20;
  position:relative;
}

#stats  {
 
  z-index:20;
  position:absolute;
}
        .text-xl {
          padding:12px;
          padding-right: 35px;
          z-index:10;
        }
        .mockup-code  {
          padding:20px;
          z-index:10;
        }
       .p5Canvas {
            margin:0px;
            width:100%;
            height:100vh;
          position:absolute;
          z-index:0;
        }
#main {
            margin:0px;
            width:100%;
            height:100vh;
          position:absolute;
          z-index:0;
        }
        .avatar {
          width:60px;
          padding:5px;
          margin:6px;
        }
